# Assignment 3.2: Superstore EDA

## Description
#### In this Jupyter notebook, we will perform exploratory data analysis on the Superstore dataset. This dataset records historical data for the Olympics over the past 120 years.

## Source
- #### `Global_Superstore_Orders_2012_2015.xlsx`

## Worksheets
- #### `Orders`
- #### `People`

## Data Dictionary
### `Orders`
- #### ID: Unique number for each athlete
### `People`
- #### NOC:National Olympic Committee three-letter code

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Run this cell to properly install openpyxl, or else it'll keep throwing an error message.
# import pip
# pip.main(["install", "openpyxl"])

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Requirement already satisfied: openpyxl in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (3.1.2)

Requirement already satisfied: et-xmlfile in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: pip3.10 install --upgrade pip

0

In [4]:
xlsx = pd.ExcelFile('data/Global_Superstore_Orders_2012_2015.xlsx')
df_orders = pd.read_excel(xlsx, 'Orders')
df_people = pd.read_excel(xlsx, 'People')

### After importing both tabs in the spreadsheet as separate dataframes, we will proceed to inspect them both.

In [6]:
df_orders.sample()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
48683,22045,IN-2015-DB1361558-42333,2015-11-25,2015-11-30,Second Class,DB-1361558,Doug Bickford,Consumer,NaN,Hyderabad,...,FUR-CH-5443,Furniture,Chairs,"Office Star Executive Leather Armchair, Red",1409.04,3,0.0,436.77,150.11,Medium

In [9]:
df_orders.shape

(51290, 24)

In [10]:
df_orders.dtypes

Row ID                     int64
Order ID                  object
Order Date        datetime64[ns]
Ship Date         datetime64[ns]
Ship Mode                 object
Customer ID               object
Customer Name             object
Segment                   object
Postal Code              float64
City                      object
State                     object
Country                   object
Region                    object
Market                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
Shipping Cost            float64
Order Priority            object
dtype: object

In [11]:
df_orders.isnull().sum()

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
Postal Code       41296
City                  0
State                 0
Country               0
Region                0
Market                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
dtype: int64

In [7]:
df_people.sample()

       Person      Region
4  Lon Bonher  Central US

In [12]:
df_people.shape

(24, 2)

In [13]:
df_people.dtypes

Person    object
Region    object
dtype: object

In [14]:
df_people.isnull().sum()

Person    0
Region    0
dtype: int64

### After inspecting both dataframes, we see that they can be joined on df_orders.["Customer Name"] and df_people.Person

In [16]:
df = pd.merge(df_orders, df_people, left_on='Customer Name', right_on='Person')
df.head()

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Postal Code, City, State, Country, Region_x, Market, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit, Shipping Cost, Order Priority, Person, Region_y]
Index: []

[0 rows x 26 columns]